<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.ow2.mindEd.adl.sirius.Activator"
               id="org.ow2.mindEd.adl.sirius"
	       name="Adl">
    </component>
  </extension>
  <extension point="org.eclipse.ui.editors">
  	<editor id="org.ow2.mindEd.adl.sirius.editors.ArchitectureDiagramEditor"
       name="Architecture Diagram Editor"
       extensions="adl"
       launcher="org.ow2.mindEd.adl.sirius.editors.ArchitectureDiagramEditor">
   </editor>
  </extension>
  <extension point="org.eclipse.ui.editors">
  	<editor id="org.ow2.mindEd.adl.sirius.editors.InternalDependencyMatrixEditor"
       name="Internal Dependencies Matrix Editor"
       extensions="adl"
       launcher="org.ow2.mindEd.adl.sirius.editors.InternalDependencyMatrixEditor">
   </editor>
  </extension>
</plugin>
