<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.ow2.mindEd.adl.sirius.design.Activator"
               id="org.ow2.mindEd.adl.sirius.design"
	       name="Adl">
    </component>
  </extension>
  <extension point="org.eclipse.ui.editors">
  	<editor id="org.ow2.mindEd.adl.sirius.editors.GraphicalArchitectureEditor"
       name="Adl Graph Editor"
       extensions="adl"
       launcher="org.ow2.mindEd.adl.sirius.editors.GraphicalArchitectureEditor">
   </editor>
  </extension>
</plugin>
